body {
    background-color: green;
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 1.2em;
}

h1, h2 {
    font-family: cursive;
    font-size: 1.5em;
}

header {
    width: 100%;
    margin: 0;
}

main {
    max-width: 1200px;
    min-width: 300px;
}

.hero-image {
    background-image: url(https://us.123rf.com/450wm/tirachard/tirachard1808/tirachard180800243/107075825-minimal-work-space-creative-flat-lay-photo-of-workspace-desk-top-view-office-desk-with-laptop-notebo.jpg?ver=6);
    height: 30vh;
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
}

.hero-text {
    text-align: center;
    font-size: 1.5em;
}

.text-content {
    margin-left: 20px;
}

.menu-link {
    display: inline;
    float: left;
    display: block;
    padding: 14px 16px;
    color: white;
    background-color: #333;
    border-right: 1px solid #bbb;
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    display: flex;

    position: fixed;
    top: 0;
}

.logo {
    background-color: #333;
    width: 70px;
    height: 70px;
    display: flex;
}

.socials {
    color: white;
    margin-inline: 5px;
}

.insta {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.birdbot-logo {
    filter: invert(100%);
    width: 20px;
    height: 20px;
}

.foto {
    border-radius: 25px;
    border: 10px solid #333;
    display: flex;
    width: 30%;
    height: 30%;
}

.foto-learn {
    width: 600px;
    height: 500px;
    border-radius: 25px;
    border: 10px solid #333;
    margin-bottom: 50px;
}

p {
    color: white;
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: #111;
    text-decoration: none;
}

th {
    background-color: white;
}

table {
    border-style: solid;
    border-color: black;
    background-color: #333;
}

footer a {
    color: black;
}

footer {
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .navigation-bar {
        flex-direction: column;
        align-items: center;
    }
    .menu-link {
        border-right: #333;
    }
    .hero-image {
        margin-top: 225px;
    }
    .foto-learn {
        width: 70%;
        height: 70%;
    }
    .foto {
        width: 50%;
        height: 50%;
    }
    body {
        font-size: 1em;
    }
}